services:
  db:
    image: postgres:16
    container_name: elephant_db
    restart: always
    environment:
      POSTGRES_DB: elephant
      POSTGRES_USER: elephant
      POSTGRES_PASSWORD: elephant
    ports:
      - "5442:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: elephant_web
    command: >
      sh -c "
      python manage.py migrate &&
      gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data:
